<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
          <ion-button (click)="toggleSearchBar()">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-title>
          Movie Finder
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <!-- Animated Searchbar -->
      <ion-searchbar *ngIf="isSearchBarDisplayed" id="searchbar" animated placeholder="Search by name" type="search" (ionChange)="getMedia($event)"></ion-searchbar>

      <ion-grid fixed *ngIf="searchResult">
          <ion-row>
            <ion-col size-xs="12" size-sm="6" size-md="4" *ngFor="let searchMedia of searchResult.Search">
              <ion-card (click)="goToDetails(searchMedia)" class="card-background-page">
                <img class="card-image" src="{{searchMedia.Poster}}"/>
                <div class="card-transparent"></div>
                <div class="card-title">{{searchMedia.Title}}</div>
                <div class="card-subtitle">{{searchMedia.Year}}</div>
              </ion-card>
            </ion-col>
          </ion-row> 
        </ion-grid>
  
      <ion-infinite-scroll threshold="100px" (ionInfinite)="getMoreMovies($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data…">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
  </ion-content>
  