ion-grid {
    margin-top: 40px;
  }
  
  #searchbar {
    position:fixed;
    left: 0;
    z-index: 9999;
  }
  
  .card-background-page {
    min-height: 200px;
    
    .card-transparent {
      background: linear-gradient(transparent 60%, black);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .card-title {
      position: absolute;
      bottom: 20px;
      left: 0%;
      width: 100%;
      font-size: 1.5em;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
  
    .card-subtitle {
      font-size: 1.2em;
      position: absolute;
      top: 0;
      width: 100%;
      color: #fff;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black
    }
  }
  