h1.title {
    color: white;
}

.image {
    background-size: cover;
    background-repeat: no-repeat; 
}

.background-image {

    position: relative;
}

.title-grid {
    .title {
        font-size: 2em;
        font-weight: bold;
        color: white;
        text-align: left;
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
}

.grid {
    color: white;
    text-align: left;
    padding: 0;
}

.info-grid {
    padding-top: 20px;

    .plot {
        text-align: justify;
        margin-top: 0;
        margin-right: 5%;
    }    
}

.info-label {
    color: #dad8d8;
    margin-right: 10px;
    font-weight: bolder;
    text-shadow: 1px 0 0 #707070, -1px 0 0 #707070, 0 1px 0 #707070, 0 -1px 0 #707070, 0.5px 0.5px #707070, -0.5px -0.5px 0 #707070, 0.5px -0.5px 0 #707070, -0.5px 0.5px 0 #707070;
}

.informations {
    position: absolute;
    top: 0%;
    padding-bottom: 100px;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0.6) 75%, transparent 100%);
}