<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Movie Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- Animated Searchbar -->
    <ion-searchbar animated placeholder="Search a movie by name" type="search" [(ngModel)]="searchText" (ionChange)="getMoviesByName()"></ion-searchbar>

    <ion-grid fixed>
        <ion-row>
          <ion-col size-xs="12" size-sm="6" size-md="4" *ngFor="let searchMovie of searchResult.Search">
            <ion-card class="card-background-page">
              <img class="card-image" src="{{searchMovie.Poster}}"/>
              <div class="card-transparent"></div>
              <div class="card-title">{{searchMovie.Title}}</div>
              <div class="card-subtitle">{{searchMovie.Year}}</div>
            </ion-card>
          </ion-col>
        </ion-row> 
      </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="getMoreMovies($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data…">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
</ion-content>